
.datav-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/img/login-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    button {
        background: #5cbef2;
        border:none;
    }
    .datav-rectangle{
        width: 360px;
        border-radius: 6px;
        padding: 20px 30px;
        color:white;
        background: #36393f;
        h2,h3 {
            text-align: center;
            color:white;
        }
        .ant-form {
            label {
                color: #8e9297 !important;
                font-size:13px
            }
            input {
                background: rgba(0,0,0,0.1);
                border-color: rgba(0,0,0,0.3);
                color: #dcddde
            }
            input:focus {
                border-color: #5cbef2
            }
        }
    }
}
